@charset "utf-8";
/* CSS Document */
body{
	background-image: url("img/mockup4.jpg");
	margin: 0px;
	padding: 0px;
}
#uname{
	background:#F2F2F2;
	margin-left: 20px;
	margin-top: 20px;
	text-align: center;
	font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
}
#pass{
	background:#F2F2F2;
	margin-left: 20px;
	margin-top: 5px;
	text-align: center;
	font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
}
#email{
	background:#F2F2F2;
	margin-left: 20px;
	margin-top: 5px;
	text-align: center;
	font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
}
#year{
	background:#F2F2F2;
	margin-left: 20px;
	margin-top: 5px;
	text-align: center;
	font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
}
#container{
 width: 400px;
  height: 400px;
  background:#5B618F;
	margin: auto;
	margin-top: 250px;
}

